<div class ="container fluid">
  <h1>Gestión Álbumes</h1>

<div class="col-12">
  <div class="card">
    <article class="card-body">
      <div>
        <button type="button" class="btn btn-sm btn-primary mt-3 mr-2" (click)="irCrearAlbum()"
              style="position: absolute; top: 0; right: 0">
          Nuevo Álbum
        </button>
        <h5 class="card-title text-left">Agregar Álbum</h5>
      </div>
    </article>
  </div>
</div>
<div class="col-12">
  <div class="card">
    <article class="card-body">
      <div>
        <button type="button" class="btn btn-sm btn-primary mt-3 mr-2 floa" (click)="consultarAlbumes()"
              style="position: absolute; top: 0; right: 0">
          Consultar
        </button>
        <h5 class="card-title text-left">Consultar Álbumes</h5>
      </div>
    </article>
  </div>
</div>
