<!-- Main Router Outlet -->
<div id="principal">
  <mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  <p *ngIf="sidenav.opened" class="col-1 col-sm-1 col-md- col-lg-2 pCustomer">Ionic</p>
</mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="col-4 col-sm-4 col-md-2 col-lg-2">
      <div class="card-icon logo col-12 col-sm-12 col-md-8 col-lg-8" ></div>
      <button mat-button class="menu-button focus" [disabled]="review_btn" (click)="goTo('album')">
        <mat-icon>album</mat-icon>
        <span>Álbumes</span>
      </button>
      <button mat-button class="menu-button focus" (click)="goTo('cancion')">
        <mat-icon>person</mat-icon>
        <span>Canciones</span>
      </button>
      <button mat-button class="menu-button focus" (click)="goTo('perfil')">
        <mat-icon>groups</mat-icon>
        <span>Coleccionistas</span>
      </button>
      <button mat-button class="menu-button focus" (click)="goTo('logIn')">
        <mat-icon>exit_to_app</mat-icon>
        <span>Salir</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
